<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!-- 配置数据源 -->
	<context:property-placeholder location="classpath:database.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
	</bean>
	<!-- 配置MyBatis中的Mapper扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.xmzh.ses.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	<!-- 事务控制 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* cn.xmzh.ses.service.impl.*.*(..))" />
	</aop:config>

	<!-- 使用注解配置Handler和HandlerMapping -->
	<mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

	<!-- 扫描Handler -->
	<context:component-scan base-package="cn.xmzh.ses.controller"></context:component-scan>

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5242880">
		</property>
	</bean>

	<!-- Service配置 -->
	<bean id="fileService" class="cn.xmzh.ses.service.impl.FileServiceImpl" />
	<bean id="termService" class="cn.xmzh.ses.service.impl.TermServiceImpl" />
	<bean id="tClassService" class="cn.xmzh.ses.service.impl.TClassServiceImpl" />
	<bean id="studentService" class="cn.xmzh.ses.service.impl.StudentServiceImpl" />
	<bean id="teacherService" class="cn.xmzh.ses.service.impl.TeacherServiceImpl" />
	<bean id="excelFileService" class="cn.xmzh.ses.service.impl.ExcelFileServiceImpl" />
	<bean id="tableZongHeCePingChengJiTongJiService"
		class="cn.xmzh.ses.service.impl.TableZongHeCePingChengJiTongJiServiceImpl" />
	<bean id="tableSuZhiJiaoYuJiaFenShenQingService"
		class="cn.xmzh.ses.service.impl.TableSuZhiJiaoYuJiaFenShenQingServiceImpl" />
	<bean id="tableSuZhiXueFenRiChangXingWeiBuFenPingFenService"
		class="cn.xmzh.ses.service.impl.TableSuZhiXueFenRiChangXingWeiBuFenPingFenServiceImpl" />
	<bean id="tableSuZhiJiaoYuJiaFenPingFenService"
		class="cn.xmzh.ses.service.impl.TableSuZhiJiaoYuJiaFenPingFenServiceImpl" />

	<!-- 配置拦截器 全局 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="cn.xmzh.ses.interceptor.LoginStateInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 异常处理器 全局 -->
	<bean class="cn.xmzh.ses.exception.ExceptionOccur"></bean>
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="cn.xmzh.ses.converter.DateConverter"></bean>
			</list>
		</property>
	</bean>
</beans>